*~
.DS_Store
.org-id-locations
.python-environments
auto-save-list
ac-comphist.dat
bookmarks
.cache
elisp
elpa
elpy
eshell
filesets-cache.el
ido.last
init.el
lisp
local.el
.lsp-python
.lsp-session*
network-security.data
newsticker
request/
server
site-lisp
snippets
tramp
transient
url
var/prescient-save.el